ul, h1 {
  margin: 0;
  padding: 0;
}

div.logotype .logo__wrapper {
  width: 33px;
  height: 30px;
  margin-right: 5px;
}
div.logotype .logo__wrapper img {
  width: 100%;
}
div.logotype {
  margin-right: 423px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
  color: #252F40;
  font-weight: bold;
  align-items: center;
}
div.error, div.clost, div.notfound {
  max-height: 1024px;
  padding: 64px 128px 64px 128px;
  background-color: white;
}
header.header {
  display: flex;
  height: 40px;
  justify-content: center;
}
nav.menu {
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.menu__list {
  width: 421px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
li.menu__list__item > a {
  font-size: 17px;
  font-weight: bold;
  color: #252F40;
  text-decoration: none;
}
div.search {
  display: flex;
  align-items: center;
}
div.search img {
  cursor: pointer;
}

/* individual styles for 404page */
section.error_404 {
  padding-top: 140px;
  width: 540px;
  display: block;
  margin: 0 auto;
}
section.error_404 .info__main-wrapper {
  width: 454px;
  height: 233px;
  display: block;
  margin: 0 auto;
}
section.error_404 .info__main-wrapper img {
  width: 100%;
}

/* general styles */

.info .info__main-title {
  margin-top: 64px;
  color: #252F40;
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
}
.info .info__main-descr {
  margin-top: 24px;
  text-align: center;
  color: rgba(37, 47, 64, .5);
  font-size: 24px;
  line-height: auto;
  font-weight: bold;
}
button {
  display: block;
  padding: 16px 32px;
  background-color: #252F40;
  color: #ffffff;
  border-radius: 20px;
  font-size: 17px;
  line-height: auto;
  font-weight: bold;
  margin: 48px auto 0 auto;
}

/* individual styles for connection lost page */
section.clost {
  padding-top: 98px;
  width: 566px;
  display: block;
  margin: 0 auto;
}
section.clost .info__main-wrapper {
  width: 490px;
  height: 337px;
  display: block;
  margin: 0 auto;
}
section.clost .info__main-wrapper img {
  width: 100%;
}

/* individual styles for not found page */
section.notfound {
  padding-top: 100px;
  width: 614px;
  display: block;
  margin: 0 auto;
}
section.notfound .info__main-wrapper {
  width: 614px;
  height: 309px;
  display: block;
  margin: 0 auto;
}
section.notfound .info__main-wrapper img {
  width: 100%;
}