.catalog {
  padding-bottom: 100px;
}
.catalog .catalog__tabs {
  margin-top: 70px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tabs .catalog__tab {
  margin: 0 5px;
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  font-size: 18px;
  color: #6b6b6b;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  cursor: pointer;
  transition: 0.5s all;
}
.catalog__tabs .catalog__tab:hover {
  box-shadow: 3px 3px 16px #b23333; ;
  border: none;
}
.catalog__tabs .catalog__tab div {
  transform: skewX(25deg);
}
.catalog__tabs .catalog__tab_active {
  background-color: #c70101; 
  color: #ffffff;
  border: none;
}
.catalog .catalog__content {
  margin-top: 60px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog .catalog__content_active {
  display: flex;
}
.catalog .catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.5s, all;
}
.catalog .catalog-item img {
  display: block;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
}
.catalog .catalog-item .catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog .catalog-item .catalog-item__descr {
  margin-top: 16px;
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 300;
  text-align: center;
}
.catalog .catalog-item .catalog-item__link {
  display: block;
  margin-top: 10px;
  color: #c70101;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  transition: 0.5s, all;
}
.catalog .catalog-item .catalog-item__link:hover {
  color: #c70101;
}
.catalog hr {
  height: 2px;
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 17px;
  border-bottom: none;
}
.catalog .catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog .catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog .catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog .catalog-item .catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}
.catalog .catalog-item__content {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s, all;
}
.catalog .catalog-item__content_active {
  transform: translateX(0%);
  margin-right: 20px;
}
.catalog .catalog-item__more-list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  transform: translate(0%);
  transition: 0.5s, all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog .catalog-item__more-list_active {
  transform: translateX(-100%);
  margin-left: 0px;
  padding-right: 20px;
}
.catalog .catalog-item__more-list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog .catalog-item__more-list li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -12px;
  top: 7px;
}
.catalog .catalog-item .catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog .catalog-item .catalog-item__back:hover {
  color: #c70101;
}