.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url('../../images/bg2.png')
}
.title_left {
  font-size: 36px;
  color: #ffffff;
  text-align: left;
  line-height: 50px;
}
.consultation .consultation__descr {
  margin-top: 8px;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
}
#consultation-form label.error {
  color: #ffffff;
}